extends layout

prepend head
  - masher.addScript('/scripts/app.js')
  - masher.addStyle('/stylesheets/app.css')

block content
  p content
  //include partial
  include partial
  //!= partial('partial')


