!!!5
html
  head
    title Example
    != masher.addCommonStyle('/ui/stylesheets/common.css')
    block head
    != masher.styles();
      

  body
    - console.log('body')
    block content
      - console.log('content')
    block test
      p layout
    != masher.scripts();
    - console.log('footer')
