extends layout

append head
  //- this will be inlined
  != masher.style('app', true)

block content
  p content
  div#module this is a module

append scripts
  //- this will be inlined
  != masher.script('app', true)


